{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %} 
<div class="container-fluid header-spacer mt-5"></div>
{% endblock%}

{% block content %}

<div class="container mb-5">
    <div class="row justify-content-center p-4 mb-4">
        <div class="col">
            <form action="{% url 'edit_post' post.slug %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}            
                {{ form | crispy }}            
                <button class="btn btn-submit" type="submit">Update post</button>
            </form>
        </div>
    </div>
    
</div>

<script>
    let name = "{{ user.id }}";
    document.getElementById('username').value = name;
</script>

{% endblock %}