{% extends "base.html" %}


{% block header %} 
<div class="container header-spacer mb-md-5 my-3"></div>
{% endblock%}


{% block content %}

<div class="container mb-5">
   <div class="row">
      <div class="col">
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
              {% if 'placeholder' in user.userprofile.profile_image.url %}

              <img src="https://res.cloudinary.com/uc-cloudinary/image/upload/v1657032084/sample.jpg"
               alt="placeholder image" class="profile-image">

              {% else %}

              <img src="{{ user.userprofile.profile_image.url }}"
               alt="profile image" class="profile-image">
              
              {% endif %}
            </div>
            <div class="col-md-8 p-4">
              <div class="card-body">
                <h5 class="card-title">Username: {{ user.userprofile }}</h5>
                <p class="card-text">Email: {{ user.userprofile.email }}</p>
                <p class="card-text">Twitter: {{ user.userprofile.twitter }}</p>
                <p class="card-text">Bio: {{ user.userprofile.bio }}</p>
              </div>
            </div>
          </div>
        </div>
      </div> 

   </div>
   <div class="row">
    <div class="col-12 m-auto d-flex justify-content-center">
        <a class='text-decoration-none font-weight-bold mx-2' href="{% url 'edit_profile' %}">Edit Profile </a>
        <a class='text-decoration-none font-weight-bold mx-2' href="{% url 'add_post' %}">Add post</a>
    </div>
  </div>
    


  <div class="row mb-md-3">

    <div class="col p-4 mb-3 mb-md-5">
      {% if posts %}

        <h4>Your posts</h4>
        <hr>
        
        {% for post in posts %}
        <h6>{{post}}</h6>
        <p>{{ post.content|truncatechars_html:150|safe}}</p>
        <a class="btn btn-edit mr-1 mr-md-4" href="{% url 'edit_post' post.slug %}">Edit Post</a>
        <a class="btn btn-delete" href="{% url 'delete' post.slug %}">Delete Post</a>
        <hr>
        {% endfor %}

      {% else %}

        <h4>Your haven't made any post</h4>      
      {% endif %}
    </div> 

 </div>
 <div class="mb-3 mb-md-5"></div>
</div>

{%endblock%}