@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Oswald:wght@700&family=Roboto:wght@100;300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9FAFC;
}

a {
    color: #025940;
}

.navbar, footer, footer a {
    background-color: #025940;
    color: #fff;
}

.navbar a {
    color: #000;
}

/* ----------------------Hero page styling */
.hero {
    background: url(https://res.cloudinary.com/uc-cloudinary/image/upload/v1664380434/hero-image_ai8xw4.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    height: 94vh;
    }

.hero-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: absolute;
    bottom: 10%;
    left: 10%;
    background-color:rgba(0, 0, 0, 0.7);
    color: #fff;
}

.hero-title a {
    background-color: #025940;
    color: #fff;
}

.logo {
    font-family: 'Ceviche One', cursive;
    font-size: 60px;
}


.header-spacer {
    min-height: 5.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.dropdown-botton {
    min-width: 180px;
    max-width: 250px;
    border: 1px solid #90c35d;
    background-color: #90c35d;
    color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: 1px solid #90c35d;
    background-color: transparent;
    padding: 1rem;
}

.card-body {
    padding: 0;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #90c35d;
}

.author {
    font-weight: bold;
    bottom: 0;
    text-transform: capitalize;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #000;
}

.post-link:hover,
.page-link {
    color: #90c35d;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

/* -------------------------Button styling */
.btn {
    font-size: 1.2rem;    
    font-weight: 500;
    border-radius: 5px;
}

.btn-signup, .btn-logout, .btn-login, .btn-submit {
    background-color: #025940;
    color: #fff;
}

.btn-edit {
    background-color: #90c35d;
    font-weight: 300;
    color: #000;
}

.btn-delete {
    font-weight: 300;
    background-color: #68351d;
    color: #fff;

}

.btn-submit:hover,
.btn-submit:active,
.btn-logout:hover,
.btn-login:active,
.btn-logout:active,
.btn-login:hover,
.btn-signup:hover,
.btn-signup:active {
    background-color:  #90c35d;
    color: #000;
}

.link {
    color: 025940;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #90c35d;
    text-decoration: underline;
}

.btn-like {
    color: red;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #445261;
    background: transparent;
    border: none;
}


