{% extends "base.html" %}

<!-- Space the header and the block content -->
{% block header %} 
<div class="header-spacer mb-3 mb-sm-4 pt-md-3 mb-md-5"></div>
{% endblock %}


{% block content %}

{% if post_list %}
<div class="container mb-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        
        <!-- Blog Entries Column -->
            {% for post in post_list %}
            <div class="col my-4">
                    <div class="card h-100">
                        <!-- Card image -->
                    {% if "placeholder" in post.featured_image.url %}
                        <img src="https://res.cloudinary.com/uc-cloudinary/image/upload/v1657032084/sample.jpg"
                         class="card-img-top" alt="placeholder image">
                    {% else %}
                        <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="featured image">
                    {% endif %}
                                                
                        <div class="card-body">
                            <a href="{% url 'post_detail' post.slug %}" class="post-link text-decoration-none">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p class="card-text">{{ post.content|safe|truncatechars:120 }}</p>                                
                            </a>
                        </div>
                        <div class="card-footer">
                            <p class="author">Author: {{ post.author }}</p>
                        </div>
                    </div>                
            </div>
            {% endfor %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
    
</div>

{% else %}

<!-- Home page to display with zero post -->
<div>
    <h6 class="d-flex justify-content-center pt-5 mt-5">Oh no! This page currently has no post</h6>
</div>

{% endif %}
<div class="mb-5 pt-5"></div>
{%endblock%}