{% extends 'base.html' %}

{% block header %} 
<div class="container-fluid header-spacer mt-5"></div>
{% endblock%}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <form action="{% url 'add_post' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}            
                {{ backend_form }}            
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    
</div>

<script>
    let name = "{{ user.id }}";
    document.getElementById('username').value = name;
</script>

{% endblock %}